<footer class="border-top">
    <div class="f-info">
        <div class="f-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-square-instagram"></i>
        </div>
        <div class="f-info-brand">&copy;wanderlust limited</div>
        <div class="f-links">
            <a href="/">privacy</a>
            <a href="/">term & condition</a>
        </div>
    </div>
</footer>